##############################
## Java
##############################
*.class
*.jar
*.war

##############################
## Maven
##############################
target/
pom.xml.tag
.mvn/wrapper/maven-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml