<html>
<head>
    <title>Парсинг страницы</title>

</head>
<body>
<h2>
    <p align="center"> Новости про (хз пока про что) с портала "https://meduza.io/"</p>
</h2>
<div>
    <h2>
    {{#news}}
    <li>
{{thcounter}} {{thtittle}}
    </li>
        {{/news}}
        </h2>
</div>

</body>
</html>